* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 1025px) {
  main {
    grid-template-columns: 0.5fr 1fr 0.5fr;
  }
}
@media screen and (max-width: 895px) {
  main {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
  }
  .panel {
    grid-column: span 3;

    margin: 1.3ch;
    border: solid;
  }
  .panel.left {
    align-items: center;
    justify-items: center;
  }
  .panel.left p {
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
  }

  .panel.middle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .fruit-parent .thumb {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1ch;

    left: 82%;
    bottom: 35%;
  }

  .fruit-parent .thumb img {
    width: 60px;
    height: auto;
  }
}

@media screen and (max-width: 751px) {
  main {
    /* min-width: 547px; */
    background-color: rgb(46, 42, 42);
    min-width: 535px;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .panel {
    grid-column: span 3;

    margin: 1.3ch;
    border: solid;
  }

  .panel.middle {
    background: (rgb(164, 216, 32), rgb(249, 114, 51));
  }

  .panel.middle .fruit-parent {
    background: linear-gradient(rgb(84, 40, 83), rgb(247, 84, 116));
  }
  .fruit-parent .thumb {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.25ch;

    left: 64%;
    bottom: 75%;
  }

  .fruit-parent .thumb img {
    width: 35px;
    height: auto;
  }

  .fruit-parent .fruity-text {
    color: rgb(241, 251, 133);
    font-size: larger;
  }
  .panel.middle .text p {
    color: rgb(255, 255, 255);
  }
  .text {
    color: rgb(255, 255, 255);
  }
  .panel.right .transformvideo {
    filter: brightness(83%);
  }
}

body {
  background: linear-gradient(rgb(148, 149, 147), rgb(128, 131, 130));
  font-family: "Klee One", cursive;
}
main {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-row: 1fr 1fr 1fr;
  min-height: 100%;
  margin: 1ch;
}
.panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
}
/* panel-left */
.panel.left {
  background: linear-gradient(rgb(67, 69, 61), rgb(62, 81, 71));
  padding: 40px;
  grid-auto-rows: 1fr;
  overflow: visible;
  /* auto-rows -means each item will take up one fraction of total height available */
}
/* targeting the <a> links */
.panel.left nav a {
  text-decoration: none;
  color: #a8a8a8;
  display: inline;
  align-items: row;
  margin-right: 30px;
}
.panel.left h1 {
  color: rgb(241, 106, 61);
  font-style: bold;
  text-shadow: -1px -0.5px, -1px 0.5px, -1px -0.5px, -1px 0.5px;
  /* manual way I made a bold-text, can also add color e.g outlined -1px -0.5px black */
}
.panel.left p {
  color: #a8a8a8;
  max-width: 400px;
  line-height: 3rem;
  /* controls each line spacing */
}
.panel.left footer {
  align-self: flex-end;
}
/* CSS END INDIVIDUAL - PANEL LEFT */
/* CSS START INDIVIDUAL - PANEL MIDDLE */
.panel.middle {
  position: relative;

  grid-template-rows: 3fr 1fr;
  max-width: 100%;
  min-height: 100%;
  background: linear-gradient(rgb(196, 200, 184), rgb(3, 114, 97));

  padding: 10px;
  grid-auto-rows: 1fr;
  overflow: hidden;
}
.panel.middle .text p {
  line-height: 3rem;
}
.text {
  padding: 20px;
  margin-left: 0px;
  min-width: 10px;
  max-width: 450px;
}
.panel.right .text {
  width: 100%;
  background-color: rgba(82, 79, 79, 0.055);
}

.text h2 {
  color: rgb(241, 106, 61);
  font-style: bold;
  text-shadow: -1px -0.5px, -1px 0.5px, -1px -0.5px, -1px 0.5px;
  /* manual way I made a bold-text, can also add color e.g outlined -1px -0.5px black */
}

.panel.middle p {
  color: #070707;
  max-width: 400px;
  line-height: 1.6rem;
  /* controls each line spacing */
}

.fruit-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  box-shadow: 0 8px 16px 0 rgb(2, 60, 9);
  border-radius: 12px;
}

.thumb {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 480px;
}
.thumb .box {
  margin-inline-end: 5%;
}
.thumb img {
  width: 55px;
  height: 100%;
  border: 1px solid rgb(2, 60, 9);
  padding: 5px;
  filter: opacity(78%);
  border-radius: 12px;
}
.fruity-text {
  text-align: center;

  padding: 10px;
  color: rgb(250, 101, 8);
  font-family: Arial, Helvetica, sans-serif;
}

.box img:hover {
  background-color: rgb(127, 129, 129);
  cursor: pointer;
}
/* CSS END INDIVIDUAL - PANEL MIDDLE */
/* CSS START INDIVIDUAL - PANEL RIGHT */
.panel.right {
  display: flex;
  /* position: relative; */
  flex-direction: row;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  border-color: white;
  border-style: solid;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.panel.right .transformvideo {
  position: relative;
  width: 100%;
  filter: brightness(10%);
  display: block;
  height: auto;
  z-index: 0;
}

.button-item {
  position: absolute;
  margin-top: 40%;
  display: flex;
  justify-content: center;
  z-index: 10;
  /* z index helped to put this button in front */
}

.buttonDeco {
  cursor: pointer;
  width: 20rem;
  background-color: rgb(119, 203, 111);
  color: rgb(255, 36, 204);
  padding: 1ch;
  border: solid;
  border-width: 5px;
  border-radius: 20px;
  text-transform: uppercase;
}
/* 
.panel.right { */
/*Enabling flexbox on main container from <div>*/

/* position: fixed; fixes in place */
/* z-index: 1000; puts it above all other elements */
/* width: 100%; */
/* gap: 40px; */
/* background-color: black; */

/* border-width: 2px; */
/* border-radius: 2.2ch; */

/* align-items: center, helped stop the buttons deforming to the overall size */
/* } */
